.testimonials {
  margin-top: 300px;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-gap: 150px;
}
.testimonials-data {
  padding-left: 32px;
  overflow: auto;
  width: 40vw;
  position: relative;
}
.contents {
  display: flex;
  width: 100vw;
  overflow: auto;
  min-height: 150px;
}
.testimonial-content {
  width: 130vw;
  padding: 12px;
  margin-right: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.testimonial-header {
  width: 40vw;
  margin: 0 auto;
  box-shadow: none;
}
.testimonial-header .testimonials-data::-webkit-scrollbar {
  width: 0px;
}

.right-arrow {
  position: absolute;
  top: 1953px;
  right: 420px;
}
.left-arrow {
  position: absolute;
  top: 1953px;
  left: 12px;
}
