.map {
  height: 48vh;
  background-color: #acb8c1;
  width: 100%;
}
.form-input {
  position: absolute;
  top: 2676px;
  right: 45px;
  width: 32vw;
  display: flex;
  flex-direction: column;
  height: 672px;
  padding-top: 3rem;
  z-index: 1;
  background-color: white;
}
.contact-image {
  background-color: #f6f6ff;
}
.form-input h1 {
  color: #1769ff;
  margin: 0 50px 0px 50px;
  padding: 50px;
}
.form-input label {
  padding: 12px;
  opacity: 39%;
  margin: 0 50px 0px 50px;
  font: normal normal normal 20px/30px Poppins;
}
.form-input input {
  border: none;
  border-bottom: 1px solid #acb8c1;
  margin: 0px 50px 0px 50px;
  font: normal normal normal 20px/30px Poppins;
}
.message-send {
  margin-top: 40px;
  margin-left: 190px;
  width: 150px;
  height: 50px;
}
.footer {
  width: 100%;
  height: 74vh;
  background-color: #1b27af;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-form {
  display: flex;
}
.contact-me {
  width: 65%;
  display: flex;
  padding-top: 6rem;
  align-items: center;
  justify-content: space-between;
}
.address {
  padding: 4rem;
  width: 35%;
}
.address h1 {
  color: white;
  padding: 1rem;
}
.contact-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
}
.contact-phone h1 {
  color: white;
  padding: 1rem;
  font-size: 24px;
}
.address p {
  color: white;
  font: normal normal normal 20px/30px Poppins;
  padding: 5px;
  opacity: 0.6;
}
.contact-phone {
  padding: 4rem;
}
.contact-phone p {
  color: white;
  font: normal normal normal 20px/30px Poppins;
  opacity: 0.6;
  font-weight: 200px;
  padding: 5px;
}
.social-media {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1769ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: auto;
}
