.wrapper {
  min-height: 147vh;
  width: 100vw;
}
.dashboards-overview {
  position: absolute;
  top: 490px;
  width: 100vw;
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
}
.dashboards-overview .images {
  margin-right: 50px;
}
.dashboards-overview::-webkit-scrollbar {
  width: 0px;
}
