@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #d0d8e8;
}
.header-section {
  background: url('../assets/header.png') no-repeat;
  filter: brightness(75%);
  background-size: 100%;
  width: 100vw;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: fixed; */
}
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 12vh;
  z-index: 2;
  background-color: transparent;
}
.navbar img {
  width: 8vw;
  height: 4vh;
  padding-top: 1.3rem;
  padding-left: 32px;
}
.nav-links {
  display: flex;
  text-decoration: none;
  list-style: none;
  font-family: Roboto;
  color: #b3b3b3;
  cursor: pointer;
  justify-content: space-between;
  width: 40%;
  align-items: center;
  padding-right: 4rem;
  opacity: 1;
}
.contact-btn {
  border: none;
  height: 32px;
  width: 120px;
  background-color: #1b27af;
  color: #00ffeb;
  border-radius: 4px;
  opacity: 1;
}
.header-section h1 {
  padding: 28px;
  padding-top: 23px;
  width: 60vw;
  text-align: center;
}
.header-section h1 {
  color: #1769ff;
  font-family: Roboto;
  font-weight: 900;
  font-size: 3.3em;
  padding: 12px;
}
.header-section p {
  padding: 28px;
  text-align: center;
  font-family: Roboto;
  width: 47vw;
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
}

/* header buttons  */

.header-buttons {
  width: 20vw;
  display: flex;
  justify-content: space-between;
}
.header-section button {
  border: none;
  height: 6vh;
  width: 120px;
  border-radius: 4px;
  background-color: #1b27af;
  color: #00ffeb;
}
.header-section #transparent {
  background-color: transparent;
  color: white;
  border: 1px solid #d7d7e2;
}
.header-section #transparent:hover {
  background-color: #00ffeb;
  color: #1b27af;
  border: none;
}
