.numbers {
  background-color: #1b27af;
  position: relative;
  width: 70vw;
  margin: auto;
  min-height: 43vh;
  text-align: center;
  padding-top: 43px;
  padding-bottom: 43px;
  border-radius: 6px;
}
.numbers .numbers-header {
  color: #00ffeb;
  margin: 34px;
  font-family: Roboto;
}
.numbers #numbers-description {
  text-align: center;
  width: 40vw;
  margin-left: 15em;
  line-height: 23px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1em;
  color: #d7d7e2;
}
.selector {
  padding: 0.4em;
  margin: 50px;
  background-color: transparent;
  border: 1px solid #d7d7e2;
  border-radius: 3px;
  color: #fff;
  opacity: 0.76;
}
.selector option {
  color: #575757;
  height: 40px;
}
.stats {
  display: flex;
  width: 75vw;
  margin-left: 33px;
}
.stats div {
  margin: 34px;
  line-height: 30px;
  width: 17vw;
}
.stats div h1 {
  padding: 13px;
  color: #00ffeb;
  font-family: Roboto;
  font-weight: 300;
}
.stats div h3 {
  color: #fff;
  font-family: Roboto;
  font-weight: 500;
}
.stats div p {
  color: #d7d7e2;
  line-height: 20px;
  padding-top: 12px;
}
.white-background {
  position: absolute;
  top: 1350px;
  width: 100vw;
  height: 52vh;
  background-color: white;
  z-index: -1;
}
