.paterners {
  overflow-x: hidden;
  width: 100%;
}
.paterners::-webkit-scrollbar {
  display: none;
}
.paterners::-ms-scrollbar {
  display: none;
}
.paterners h1 {
  text-align: start;
  color: #1769ff;
  padding: 2rem;
}
.patterner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.paterner-1 img {
  width: 420px;
  height: 240px;
  padding: 2rem;
}
