@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');
@import url('./header.css');
* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* p {
  opacity: 0.79;
} */
.btn {
  background: #1b27af 0% 0% no-repeat padding-box;
  border-radius: 3px;
  border: none;
  padding: 10px;
  color: #ffff;
  width: 120px;
}

/* }
.navbar {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 1rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  color: #acb8c1;
}
.nav-links li a {
  color: white;
}
.back {
  background-color: black;
  z-index: -2;
}
.active {
  color: #00ffeb;
}
.header-section {
  margin: auto;
  padding: 4rem;
}
.header-section h1 {
  text-align: center;
  font: normal normal bold 69px/108px Poppins;
  letter-spacing: 0px;
  color: #1769ff;
  text-transform: capitalize;
  opacity: 1;
}
.header-section p {
  width: 600px;
  margin: auto;
  text-align: center;
  font: normal normal normal 20px/30px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding: 4rem;
}
.header-btn {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 380px;
}
.navbar-btn {
  width: 130px;
}
.btn-hired {
  background-color: transparent;
  border: 1px solid #fff;
  width: 150px;
}
.dashboards {
  display: flex;
  justify-content: space-between;
  height: 300px;
  position: absolute;
  top: 690px;
  width: 100%;
}
/* .dashboards-1 {
  background-image: url('../assets/dashboard1.png');
}
.dashboards-2 {
  background-image: url('../assets/dashboard2.png');
} */
/* .dashboards-1 {
  background-image: url('../assets/dashboard1.png');
  background-repeat: no-repeat;
  background-size: 300px;
  width: 400px;
  background-position: top 10px right 190px;
}
.dashboards-2 {
  background-image: url('../assets/dashboard2.png');
  background-repeat: no-repeat;
  background-size: 400px;
  width: 400px;
  background-position: top 10px right center;
}
.dashboards-3 {
  background-image: url('../assets/NoPath\ -\ Copy\ \(3\).png');
  background-size: 400px;
  background-repeat: no-repeat;
  width: 400px;
  background-position: top 1px right -70px;
}*/
.numbers {
  width: 80%;
  margin: auto;
  background-color: #1b27af;
  border: 1px solid #fff;
  margin-top: 15rem;
  text-align: center;
  border-radius: 6px;
}
.numbers p,
h6,
h5 {
  color: #fff;
  text-align: center;
  font: normal normal normal 18px/36px Poppins;
  letter-spacing: 0px;
  opacity: 1;
  margin: 1rem;
}
.numbers .numbers-title {
  margin: 0 16rem 0 16rem;
}
.numbers-value {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  padding: 2rem;
  padding-bottom: 4rem;
}
.numbers-value h1 {
  color: #00ffeb;
}
.select-btn {
  border: 1px solid #fff;
  background-color: transparent;
  margin: 3rem;
  width: 211px;
}
.select-btn option {
  background-color: white;
  color: black;
  font: normal normal normal 20px/30px Poppins;
  opacity: 0.45;
}

.numbers #title {
  color: #00ffeb;
  padding: 2rem;
  padding-top: 4rem;
}

/*********** what they say about us     ***************** */

/* .about {
  background-color: #f6f6ff;
  display: flex;
  justify-content: space-between;
  margin: 5rem 0 3rem 0;
  height: 500px;
}
.about .right-side {
  margin: auto;
}
.about .right-side img {
  position: relative;
  width: 510px;
  height: 300px;
}
.about .left-side {
  width: 40%;
  margin: auto;
  padding: 2rem;
  padding-left: 3rem;
}
.about .left-side h1 {
  color: #1769ff;
  padding: 3rem;
}
.about .left-side p {
  padding: 1rem;
  font: normal normal normal 18px/30px Poppins;
}
.about .left-side i {
  color: #1769ff;
}
.youtube-btn {
  position: absolute;
  top: 1920px;
  z-index: 1;
  right: 270px;
  margin-top: 80px;
  height: 40px;
  width: 65px;
  background-color: red;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23ffffff;"/></svg>');

  background-repeat: no-repeat;
  background-size: 15px;
  background-position: top 54% right 25px;
}
.right-svg {
  position: absolute;
  right: 809px;
  rotate: -90deg;
  top: 2030px;
}
.left-svg {
  position: absolute;
  right: 1598px;
  rotate: 90deg;
  top: 2030px;
}
.paterners {
  padding-left: 4rem;
}
.paterners h1 {
  text-align: start;
  color: #1769ff;
  padding: 2rem;
}
.patterner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.paterner-1 img {
  width: 420px;
  height: 240px;
  padding: 2rem;
}
.paterner-title {
  padding-left: 2rem;
}
.paterner-title h2 {
  color: #1769ff;
}
.paterner-title span {
  opacity: 0.67;
  font: normal normal normal 20px/30px Poppins;
}
.paterner-1 p {
  padding: 2rem;
  font: normal normal normal 15px/30px Poppins;
}
.contact-image {
  background-color: #f6f6ff;
}
.contact {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.map {
  height: 48vh;
  background-color: #acb8c1;
}

.form-input {
  position: absolute;
  top: 3091px;
  right: 45px;
  width: 27vw;
  display: flex;
  flex-direction: column;
  height: 672px;
  padding-top: 3rem;
  z-index: 1;
  background-color: white;
}
.form-input h1 {
  color: #1769ff;
  margin: 0 50px 0px 50px;
  padding: 50px;
}
.form-input label {
  padding: 12px;
  opacity: 39%;
  margin: 0 50px 0px 50px;
  font: normal normal normal 20px/30px Poppins;
}
.form-input input {
  border: none;
  border-bottom: 1px solid #acb8c1;
  margin: 0px 50px 0px 50px;
  font: normal normal normal 20px/30px Poppins;
}
.message-send {
  margin-top: 40px;
  margin-left: 190px;
  width: 150px;
  height: 50px;
}
.footer {
  width: 100%;
  height: 74vh;
  background-color: #1b27af;
  margin: auto;
}
.footer-form {
  display: flex;
}
.contact-me {
  width: 65%;
  display: flex;
  padding-top: 6rem;
  align-items: center;
  justify-content: space-between;
}
.address {
  padding: 4rem;
  width: 35%;
}
.address h1 {
  color: white;
  padding: 1rem;
}
.contact-phone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
}
.contact-phone h1 {
  color: white;
  padding: 1rem;
  font-size: 24px;
}
.address p {
  color: white;
  font: normal normal normal 20px/30px Poppins;
  padding: 5px;
  opacity: 0.6;
}
.contact-phone {
  padding: 4rem;
}
.contact-phone p {
  color: white;
  font: normal normal normal 20px/30px Poppins;
  opacity: 0.6;
  font-weight: 200px;
  padding: 5px;
}

.social-media {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1769ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: auto;
} */
